all:
  vars:
    ansible_connection: ssh
    ansible_ssh_user: ubuntu
    ansible_become: true
    security_mode: ssl
preflight:
  hosts:
    {{servers.0}}:
    {{servers.1}}:
    {{servers.2}}:
    {{servers.3}}:
zookeeper:
  hosts:
    {{servers.0}}:
    {{servers.1}}:
    {{servers.2}}:
kafka_broker:
  hosts:
    {{servers.0}}:
      kafka:
        broker:
          id: 1
    {{servers.1}}:
      kafka:
        broker:
          id: 2
    {{servers.2}}:
      kafka:
        broker:
          id: 3
schema_registry:
  hosts:
    {{servers.3}}:
control_center:
  hosts:
    {{servers.3}}:
      control_center:
        properties:
          confluent.controlcenter.connect.cluster: {{servers.3}}:8083
# kafka_connect:
#   hosts:
#     {{servers.3}}:
kafka_rest:
  hosts:
    {{servers.3}}:
ksql:
  hosts:
    {{servers.3}}:
