all:
  vars:
    ansible_connection: ssh
    ansible_ssh_user: ubuntu
    ansible_become: true
    security_mode: ssl
preflight:
  hosts:
    {{servers.0}}:
    {{servers.1}}:
    {{servers.2}}:
    {{servers.3}}:
zookeeper:
  hosts:
    {{servers.0}}:
    {{servers.1}}:
    {{servers.2}}:
kafka_broker:
  hosts:
    {{servers.0}}:
      kafka_broker:
        properties:
          advertised.listeners: SSL://{{servers.0}}:9092
    {{servers.1}}:
      kafka_broker:
        properties:
          advertised.listeners: SSL://{{servers.1}}:9092
    {{servers.2}}:
      kafka_broker:
        properties:
          advertised.listeners: SSL://{{servers.2}}:9092
schema_registry:
  hosts:
    {{servers.3}}:
control_center:
  hosts:
    {{servers.3}}:
kafka_connect:
  hosts:
    {{servers.3}}:
kafka_rest:
  hosts:
    {{servers.3}}:
ksql:
  hosts:
    {{servers.3}}:
